---
import Layout from '../layouts/Layout.astro';
import { Prism } from '@astrojs/prism';
---

<Layout title="nganso.com - coming soon">
	<div class="home">
	    <video autoplay muted loop>
	        <source src="/assets/videos/vid0.mp4" type="video/mp4" id="video" />
        </video>
        <div class="overlay"></div>
        <div class="home-content">
          <h1>
            <span>I'm Working On It.</span>
          </h1>
          <h5 class="meantime">In the meantime, please feel free to e-mail me at:</h5>
          <h4>gustave `at` nganso `dot` com</h4>
          <section class="logo-section">
            <div>
                <span class="github-logo">
                    <a href="https://github.com/etobicoke/">
                        <img src="/assets/images/svg/iconmonstr-github-3.svg" alt="GitHub Logo"/>
                    </a>
                </span>
                <span class="linkedin-logo">
                    <a href="https://www.linkedin.com/in/gnganso">
                        <img src="/assets/images/svg/iconmonstr-linkedin-3.svg" alt="LinkedIn Logo"/>
                    </a>
                </span>
            </div>
          </section>
        </div>
	</div>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
<script>
  (function(){
    // Retrieving Video Source
    function getVidSource (vidSrc) {
        return `assets/videos/${vidSrc}.mp4`;
    }

    // Arrow function implementation
    const getVideoSource = (vidSrc) => `assets/videos/${vidSrc}.mp4`;

    // Rewriting vidArr
    let vidArr = Array.apply(null, Array(10)).map((x, i) => ("vid" + i));

    let videoPlayer = document.getElementsByTagName('video')[0];

    // Randomly retrieving video from vidArr array
    let video = vidArr[Math.floor(Math.random()*vidArr.length)];

    // Get video URL
    let srcAttr = getVidSource(video);

    // Setting video source attribute
    document.getElementById("video").setAttribute("src", srcAttr);

    // Loading the video
    videoPlayer.load();
  })();
</script>
