---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div class="home">
	    <video autoplay muted loop>
	        <source src="/assets/videos/vid0.mp4" type="video/mp4" id="video" />
        </video>
        <div class="overlay"></div>
        <div class="home-content">
          <h1>
            <span>I'm Working On It.</span>
          </h1>
          <h4>gustave (at) nganso (dot) com</h4>
          <section class="logo-section">
            <div>
                <span class="github-logo">
                    <a href="https://github.com/etobicoke/">
                        <img src="/nganso/assets/images/svg/iconmonstr-github-3.svg" alt="GitHub Logo"/>
                    </a>
                </span>
                <span class="linkedin-logo">
                    <a href="https://www.linkedin.com/in/gnganso">
                        <img src="/assets/images/svg/iconmonstr-linkedin-3.svg" alt="LinkedIn Logo"/>
                    </a>
                </span>
            </div>
          </section>
        </div>
	</div>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
<script>
  (function(){

    // Retrieving Video Source
    function getVidSource (vidSrc) {
        return `assets/videos/${vidSrc}.mp4`;
    }

    let vidArr = ["vid0", "vid1", "vid2", "vid3", "vid4", "vid5", "vid6", "vid7", "vid8", "vid9"];
    let videoPlayer = document.getElementsByTagName('video')[0];

    // Retrieving video from vidArr randomly
    let vid = vidArr[Math.floor(Math.random()*vidArr.length)];
    let srcAttr = getVidSource(vid);

    document.getElementById("video").setAttribute("src", srcAttr);
    videoPlayer.load();

  })();
</script>
